<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="ProjectsFile" value="C:\Temp\TREC\Projects.xml"/>
    <add key="UserFile" value="C:\Temp\TREC\User.xml"/>
    <add key="UserTaskAccessFile" value="C:\Temp\TREC\UserTaskAccess.xml"/>
    <add key="TasksFile" value="C:\Temp\TREC\Tasks.xml"/>
    <add key="TimeEntryFile" value="C:\Temp\TREC\CurrentUser\TimeEntry.xml"/>
    <add key="GoalsFile" value="C:\Temp\TREC\CurrentUser\Goals.xml"/>
    <add key="LocalSettingsFile" value="C:\Temp\TREC\LocalSettings.xml"/>
	</appSettings>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
